@import "tailwindcss";

body {
  @apply bg-black text-white antialiased;
  font-family: var(--font-body);
}

/* Custom glassmorphism backdrop */
.bg-glass {
  background: rgba(255, 255, 255, 0.1);
}
.backdrop-blur-glass {
  backdrop-filter: blur(10px);
}